* {
	margin: 0;
	padding: 0;
}

*::-webkit-scrollbar {
	display: none;
}

.header {
	border-bottom: 6px solid #fe3;
	background-color: #37c;
}

.nav {
	margin: auto;
	max-width: 672px;
	overflow: auto;
}

.scroll {
	width: 672px;
}

.nav a {
	float: left;
	padding: 1.5em 0;
	width: 67.2px;
	text-align: center;
	text-decoration: none;
	color: #fff;
}

.nav a:hover {
	background-color: #37e;
}

.article {
	margin: 2em auto;
	padding: 0 1em;
	max-width: 640px;
}

.title {
	margin: 1em 0;
	text-align: center;
}

.content p {
	margin: 1em 0;
	text-indent: 2em;
	text-align: justify;
	line-height: 1.6em;
}

.sup {
	font-size: 0.6em;
	line-height: 0.6em;
	vertical-align: super;
}

.note {
	line-height: 1.6em;
}

.note h2 {
	line-height: 2em;
	font-size: 1em;
}

.footer {
	padding: 1.5em 0;
	border-top: 6px solid #fe3;
	text-align: center;
	background-color: #37c;
	color: #fff;
}

.footer a {
	text-decoration: none;
	color: #fff;
}
