* {
	margin: 0;
	padding: 0;
}

*::-webkit-scrollbar {
	display: none;
}

.header {
	border-bottom: 6px solid #fe3;
	background-color: #36e;
}

.nav {
	margin: auto;
	max-width: 672px;
	overflow: auto;
}

.scroll {
	width: 672px;
}

.nav a {
	float: left;
	padding: 24px 0;
	width: 67.2px;
	text-align: center;
	text-decoration: none;
	color: #fff;
}

.nav a:hover {
	background-color: #25d;
	color: #eee;
}

.main {
	min-height: 1400px;
}

.item {
	margin: 8px auto;
	padding: 8px 16px;
	max-width: 604px;
	border: 2px solid #ddd;
	border-radius: 8px;
	background-color: #f5f5f5;
}

.item h1 {
	font-size: 1.2em;
}

.item a {
	text-decoration: none;
	color: #36e;
}

.item a:hover {
	color: #d25;
}

.item p {
	color: #888;
}

@media screen and (max-width: 672px) {
	.item {
		margin: 8px 16px;
	}
}

.article {
	margin: 24px auto;
	padding: 0 16px;
	max-width: 640px;
}

.title {
	margin: 24px 0;
	text-align: center;
}

.content p {
	margin: 8px 0;
	text-indent: 2em;
	text-align: justify;
	line-height: 2em;
}

.sup {
	font-size: 0.5em;
	line-height: 0.5em;
	vertical-align: super;
}

.sign {
	margin-top: 24px;
	text-align: right;
	line-height: 2em;
}

.note {
	margin-top: 24px;
	line-height: 2em;
}

.note h2 {
	font-size: 1em;
}

.footer {
	padding: 24px 0;
	border-top: 6px solid #fe3;
	text-align: center;
	background-color: #36e;
	color: #fff;
}

.footer a {
	text-decoration: none;
	color: #fff;
}
