* {
	margin: 0;
	padding: 0;
}

*::-webkit-scrollbar {
	display: none;
}

.header {
	border-bottom: 6px solid #fe3;
	background-color: #36e;
}

.nav {
	margin: auto;
	max-width: 672px;
	overflow: auto;
}

.scroll {
	width: 672px;
}

.nav a {
	float: left;
	padding: 24px 0;
	width: 67.2px;
	text-align: center;
	text-decoration: none;
	color: #fff;
}

.nav a:hover {
	background-color: #25d;
	color: #eee;
}

.main {
	margin: auto;
	padding: 0 16px;
	max-width: 640px;
	min-height: 720px;
}

.left, .right {
	margin-bottom: 8px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.lmar {
	margin-left: 8px;
}

.rmar {
	margin-right: 8px;
}

.item {
	box-sizing: border-box;
	margin-top: 8px;
	padding: 8px 16px;
	width: calc(50% - 4px);
	border: 2px solid #ddd;
	border-radius: 8px;
	background-color: #f8f8f8;
}

.item b, .item span {
	display: block;
}

.item a {
	text-decoration: none;
	color: #36e;
}

.item a:hover {
	color: #14c;
}

.item span {
	font-size: 0.8em;
	color: #aaa;
}

.flow {
	box-sizing: border-box;
	width: calc(33.33% - 5.33px);
	border: 2px solid #ddd;
	border-radius: 8px;
	overflow: hidden;
}

.flow a {
	text-decoration: none;
	color: #36e;
}

.flow a:hover {
	color: #14c;
}

.flow img, .flow span {
	display: block;
}

.flow img {
	width: 100%;
}

.flow span {
	padding: 16px 8px;
	font-weight: bold;
	background-color: #f8f8f8;
}

@media screen and (max-width: 672px) {

	.item.left, .item.right {
		float: none;
		margin: 8px 0;
		width: auto;
	}

	.flow.left, .flow.right {
		float: none;
		margin: 0 0 8px;
	}

	.flow.mlft {
		float: left;
	}

	.flow.mrgt {
		float: right;
	}

	.flow {
		width: calc(50% - 4px);
	}
}

.article {
	margin: 24px 0;
	line-height: 2em;
}

.title {
	text-align: center;
}

.content p {
	margin: 8px 0;
	text-indent: 2em;
	text-align: justify;
}

.article a {
	text-decoration: none;
	color: #36e;
}

.article a:hover {
	color: #14c;
}

.sign {
	margin-top: 24px;
	text-align: right;
}

.footer {
	padding: 24px 0;
	border-top: 6px solid #fe3;
	text-align: center;
	background-color: #36e;
	color: #fff;
}

.footer a {
	text-decoration: none;
	color: #fff;
}
